//typography
$base-font-size: 16px;
$font-family: Montserrat, sans-serif;
$semi-bold: 500;
$bold: 700;

//font-colors
$primary-color: #49525d;
$accent-color: #e36f23;

//backgroud-colors
$primary-background: #f6f8f9;
